.home{
    /* font-size: 30px; */
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 88%;
    background-color: peachpuff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* align-items: center; */
}
