.invitation{
    display: flex;
    flex-direction: column;
}
.filters{
    /* margin-top: 25vh; */
    padding-left: 2vw;
    padding-bottom: 1%;
    width: 97%;
    border-bottom: 3px dashed #0b815c ;
    text-align: left;
}

.flip-box {
    background-color: transparent;
    width: 300px;
    height: 250px;
    /* border: 1px solid #f1f1f1; */
    perspective: 1000px;
    padding: 2vw;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateX(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-box-back {
    background-color: #0b815c;
    color: white;
    transform: rotateX(180deg);
  }
.AllFlights{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    padding: 10px;
    justify-content: center;
    /* width: 88%; */
    /* align-items: center; */
}